:root {
  --comby-orange-1: #330066; /* currently unused */
  --comby-orange-2: #0f0f0f;
  --comby-orange-3: #1a1a1a;

  --comby-orange-4: #BF5800; /* links, text, on white background */
  --comby-orange-5: #997afc; /* currently unused */
  --comby-orange-6: #ffa504; /* button outlines */
}

/* dark
--ifm-color-primary: #0f0f0f;
--ifm-color-primary-dark: #0e0e0e;
--ifm-color-primary-darker: #0d0d0d;
--ifm-color-primary-darkest: #0a0a0a;
--ifm-color-primary-light: #101010;
--ifm-color-primary-lighter: #111111;
--ifm-color-primary-lightest: #131313;
*/

/*
--ifm-color-primary: #ffa504;
--ifm-color-primary-dark: #e99600;
--ifm-color-primary-darker: #dc8d00;
--ifm-color-primary-darkest: #b57400;
--ifm-color-primary-light: #ffae1e;
--ifm-color-primary-lighter: #ffb32b;
--ifm-color-primary-lightest: #ffc152;
*/

/* original
:root {
  --comby-orange-1: #330066;
  --comby-orange-2: #4f4397;
  --comby-orange-3: #6255b0;

  --comby-orange-4: #8673ff;
  --comby-orange-5: #997afc;
  --comby-orange-6: #b4a8ff;
}
*/

.homeContainer {
  text-align: left;
}

.projectTitle {
  line-height: 1.2em;
}

.homeContainer .homeWrapper {
  padding: 4em 20px;
}

.homeContainer .homeWrapper .projectLogo {
  padding: 0;
}

.homeContainer .homeWrapper .projectLogo img {
  width: 200px;
}

.container .threeByGridBlock {
  text-align: left;
  margin-bottom: 20px;
}

.container .threeByGridBlock h2 {
  margin-top: 0;
  text-align: left;
}

.container .threeByGridBlock h2 p {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.homeContainer {
  background: var(--comby-orange-2);
  color: #ffffff;
}

.homeContainer .projectTitle {
  color: #ffffff;
}

.homeContainer .button {
  border-color: var(--comby-orange-6);
  border-radius: 8px;
  border-width: 2px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 27px;
}

.homeContainer .button:hover {
  color: var(--comby-orange-2);
  background: var(--comby-orange-6);
}

.homeContainer a {
  color: var(--comby-orange-6);
}

/* Features container */
.featuresContainer {
  margin-top: 0.5em;
  padding: 2.5em 0;
  background: var(--comby-orange-3);
}

.featuresContainer .threeByGridBlock {
  margin-bottom: 0;
}

.featuresContainer code {
  background-color: initial;
  border-radius: initial;
  font-size: initial;
  padding: initial;
}

/* Page sections */
.pageSection h2 {
  margin-bottom: 0.7em;
  margin-top: 0;
}

.pageSectionColumns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.row:not(:first-child) {
  margin-bottom: 20px;
}

.column {
  float: left;
  width: 50%;
}

.column:not(:last-child) {
  padding-right: 20px;
}

.StripeCallout {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.StripeCallout-Logo {
  max-height: 175px;
}

.StripeCallout-Description {
  flex-basis: 50%;
}

/* Responsive styles*/
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
  /* Masthead */
  h2.projectTitle {
    margin-top: 0;
  }
}
@media only screen and (max-width: 700px) {
  .pageSectionColumns {
    flex-direction: column;
  }

  .StripeCallout {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
  .column:not(:last-child) {
    padding-right: 0;
  }
}
@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}


.mtable {
    margin-left:auto;
    margin-right:auto;
}
.mtable thead {
 visibility: collapse;
}
.mtable tr {
  border: none;
}

.mtable td {
    border: none;
}
.mtable td:nth-child(6n) {
    border-left: 2px solid gray;
}
.mtable tr:nth-child(2n) {
  border: none;
  background-color: transparent;
}
