.divider-line {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 36rem;
    height: 0.25rem;
    background-color: $orange;
    border-radius: 1rem;
    border-color: $secondary !important;
}
