// most modern phones, iphone > 5 and android pixels
@media only screen and (max-width: 600px) {
    .media-width-override {
        margin-top: 1rem!important;
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        .panel-item {
            width: 45% !important;
            padding-left: 10%;
            padding-right: 5%;
            margin-bottom: -20px;
            .mastpanel-item {
                margin: 0px !important;
                .mastpanel-item-overlay {
                    opacity: 1 !important;
                    p {
                        font-size: 0.75rem !important;
                    }
                }
            }
        }
    }
}

.mastpanel-item {
    cursor: pointer;
    position: relative;
    display: block;
    margin-bottom: 30px;
    border-radius: $border-radius;
    overflow: hidden;
    .img-fluid {
        max-width: $icon-size-head-panel;
        height: auto;
    }
    .mastpanel-item-overlay {
        position: absolute;
        top: 0;
        left: 0;
        transition: $transition-base;
        opacity: 0;
        background-color: fade-out($primary, .1);
        &:hover {
            opacity: 1;
        }
        p {
            color: $orange;
            text-transform: uppercase;
            font-family: $font-family-sans-serif;
            font-weight: $headings-font-weight;
            font-size: 1rem;
        }
    }
    p {
        color: $primary;
        text-transform: uppercase;
        font-family: $font-family-sans-serif;
        font-weight: $headings-font-weight;
        font-size: 1rem;
    }
}
